language: generic
sudo: required

services:
  - docker

git:
  depth: 1
  
before_script:
  - docker build -t fuzzylite -f Dockerfile --build-arg CXX_COMPILER=${CXX_COMPILER} .

script:
  - docker run -e CXX=${CXX_COMPILER} -e FL_CPP11=${FL_CPP11} -e FL_USE_FLOAT=${FL_USE_FLOAT} -t fuzzylite release
  
  - docker run -e CXX=${CXX_COMPILER} -e FL_CPP11=${FL_CPP11} -e FL_USE_FLOAT=${FL_USE_FLOAT} -t fuzzylite debug

  - docker run -e CXX=${CXX_COMPILER} -e FL_CPP11=${FL_CPP11} -e FL_USE_FLOAT=${FL_USE_FLOAT} -t fuzzylite documentation

matrix:
  include:
    # - osx:
        
##clang-3.8
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.8 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.8 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.8 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.8 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-5
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-5 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-5 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-5 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-5 FL_CPP11=ON FL_USE_FLOAT=ON 

##clang-3.7
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.7 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.7 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.7 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.7 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-4.9
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.9 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.9 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.9 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.9 FL_CPP11=ON FL_USE_FLOAT=ON

##clang-3.6
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.6 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.6 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.6 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.6 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-4.8
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.8 FL_CPP11=OFF FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.8 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.8 FL_CPP11=ON FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.8 FL_CPP11=ON FL_USE_FLOAT=ON

##clang-3.5
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.5 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.5 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.5 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.5 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-4.7
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.7 FL_CPP11=OFF FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.7 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.7 FL_CPP11=ON FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.7 FL_CPP11=ON FL_USE_FLOAT=ON

#clang-3.4
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.4 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.4 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.4 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.4 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-4.6
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.6 FL_CPP11=OFF FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.6 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.6 FL_CPP11=ON FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.6 FL_CPP11=ON FL_USE_FLOAT=ON


#clang-3.3
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.3 FL_CPP11=OFF FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.3 FL_CPP11=OFF FL_USE_FLOAT=ON
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.3 FL_CPP11=ON FL_USE_FLOAT=OFF
    - os: linux
      compiler: clang
      env: CXX_COMPILER=clang++-3.3 FL_CPP11=ON FL_USE_FLOAT=ON

#g++-4.5
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.5 FL_CPP11=OFF FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.5 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.5 FL_CPP11=ON FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.5 FL_CPP11=ON FL_USE_FLOAT=ON
      
#g++-4.4
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.4 FL_CPP11=OFF FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.4 FL_CPP11=OFF FL_USE_FLOAT=ON 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.4 FL_CPP11=ON FL_USE_FLOAT=OFF 
    - os: linux
      compiler: g++
      env: CXX_COMPILER=g++-4.4 FL_CPP11=ON FL_USE_FLOAT=ON

notifications:
  email:
    recipients:
      - jcrada@fuzzylite.com
    on_success: always
    on_failure: always
