name: Linux Quick Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [ "release" ]
        use_cxx: [ "clang++-15" ]

    steps:
      - uses: actions/checkout@v4

      - name: Restore cmake dependencies
        id: cache-restore-cmake-deps
        uses: actions/cache/restore@v4
        with:
          path: |
            fuzzylite/build/${{ matrix.build_type }}/_deps
          key: ${{ runner.os }}-cmake-deps
    
      - name: Building FuzzyLite
        working-directory: fuzzylite
        env:
          CXX: ${{ matrix.use_cxx }}
        run: |
          cmake -B build/${{ matrix.build_type }} -G"Unix Makefiles" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} .
          cmake --build build/${{ matrix.build_type }} --parallel
          ctest --test-dir build/${{ matrix.build_type }}

      - name: Save cmake dependencies
        if: steps.cache-restore-cmake-deps.outputs.cache-hit != 'true'
        id: cache-save-cmake-deps
        uses: actions/cache/save@v4
        with:
          path: |
            fuzzylite/build/${{ matrix.build_type }}/_deps
          key: ${{ steps.cache-restore-cmake-deps.outputs.cache-primary-key }}
