name: macOS Full Build

on:
  push:
    branches: [ "build/*", "build-mac/*" ]

jobs:
  build-clang:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [ "release", "debug" ]
        use_cpp98: [ "OFF", "ON" ]
        use_float: [ "OFF", "ON" ]

    steps:
      - uses: actions/checkout@v4

      - name: Building FuzzyLite
        working-directory: fuzzylite
        run: |
          cmake -B build/${{ matrix.build_type }} -G"Xcode" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DFL_CPP98=${{ matrix.use_cpp98 }} -DFL_USE_FLOAT=${{ matrix.use_float }} .
          cmake --build build/${{ matrix.build_type }} --parallel
          ctest --test-dir build/${{ matrix.build_type }}

  build-gcc:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compiler_version: [ "11", "12", "13" ]
        build_type: [ "release" ]
        use_cpp98: [ "OFF", "ON" ]
        use_float: [ "OFF", "ON" ]

    steps:
      - uses: actions/checkout@v4

      - name: Building FuzzyLite
        working-directory: fuzzylite
        env:
          CXX: g++-${{ matrix.compiler_version }}
        run: |
          cmake -B build/${{ matrix.build_type }} -G"Unix Makefiles" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DFL_CPP98=${{ matrix.use_cpp98 }} -DFL_USE_FLOAT=${{ matrix.use_float }} .
          cmake --build build/${{ matrix.build_type }} --parallel
          ctest --test-dir build/${{ matrix.build_type }}
