name: Windows Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        cxx-standard: [ 98, 11, 23 ]
        use_float: [ OFF, ON ]
        generator: ["NMake Makefiles", "Visual Studio 17 2022"]

    steps:
      - uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Restore cmake dependencies
        id: cache-restore-cmake-deps
        uses: actions/cache/restore@v4
        with:
          path: build/_deps
          key: ${{ runner.os }}-${{ matrix.generator }}-cmake-deps

      - name: Building FuzzyLite
        shell: cmd
        env:
          CMAKE_GENERATOR: ${{ matrix.generator }}
        run: |
          pip install tools/dev
          nox -- strict=on cxx_standard=${{ matrix.cxx-standard }} use_float=${{ matrix.use_float }}

      - name: Save cmake dependencies
        if: steps.cache-restore-cmake-deps.outputs.cache-hit != 'true'
        id: cache-save-cmake-deps
        uses: actions/cache/save@v4
        with:
          path: build/_deps
          key: ${{ steps.cache-restore-cmake-deps.outputs.cache-primary-key }}


